canvas{
    
    animation-name: colorchange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-style: dashed;
    border: 1px rgb(255, 145, 1);

}
.btn-success:hover{
    background-color:rgb(255, 208, 0);
}
h3{
    font-size: 25px  !important;
}
@keyframes colorchange{
    from{box-shadow: 1px 1px 38px red;}
    to {box-shadow: 1px 1px 38px yellow;}
}
body{
    background-image: url("background.jpg");
}